*{
    font-family: serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #aca7a7; 
}

header{
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    height: 110px;
    border-bottom: 1px solid #ccc9c983 ;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    width: 840px;
}

.column{
    flex-direction: column;
}

header h1, header h2{
    margin: 0;
}

header h1{
    font-size: 36px;
    margin-bottom: 30px;
}

header h2{
    font-size: 20px;
    margin-bottom: 15px;
    color:#505050;
}

section{
    display: flex;
    justify-content: center;
}

.imagem_principal{
    flex: 1;
    display: flex;
    height: 430px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.imagem_principal figure{
    position: relative;
    margin: 0;
    width: 300px;
    height: 430px;
    background-color: aquamarine;
}

.imagem_principal img{
    margin: auto;
    height: 400px;
    width: 300px;
    object-fit: cover;
    border: #ffffff 2px solid;
    border-bottom: #ffffff 30px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: block;
}

.imagem_principal figcaption{
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 5px;
}

.conteudo{
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    color: #363535;
}

footer{
    display: flex;
    justify-content: center;
}

footer div{
    display: flex;
    align-items: flex-start;
}

footer p{
    font-size: 14px;
    color: #646464ce;
    padding: 10px;
}

footer a{
    color: #646464ce;
    text-decoration: none;
}

footer .container {
    display: flex;
    justify-content: flex-start;  /* ← Alinha o conteúdo à esquerda DENTRO do container */
    width: 840px;
}